* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-header {
  margin: 0;
  padding: 30px;
  text-align: center;
  background-color: darkgray;
}

#separator {
  border: thin solid #000000;
}
