* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono", serif;
  background-color: black;
}

.page-header {
  margin: 0;
  padding: 30px;
  text-align: center;
  background-color: darkgray;
}

#separator {
  border: thin solid #000000;
}

.loader-space {
  padding: 40px 0;
  display: grid;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-gap: 5px;
  background-color: black;
  color: #444;

  align-items: center;
  justify-items: center;
  justify-content: center;

  padding: 10px;
}

.letter-box {
  width: 50px;
  height: 50px;
  color: whitesmoke;
  border: solid darkgray 3px;
  border-radius: 15%;
  padding: 5px;
  margin: 5px;
  font-size: 150%;
  text-align: center;
}

.footer {
  font-size: small;
  color: darkgray;
  position: fixed;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

a {
  color: darkgray;
  text-decoration: none; /* no underline */
}
